.widget {
  position: relative;
  margin: 20px;
}
.widget input {
  border: 1px #a9a9a9 solid;
  border-radius: 6px;
  box-shadow: none;
  display: block;
  font-size: 20px;
  padding: 1% 3%;
  width: 94%;
}
.widget input:focus {
  outline: none;
}
.widget label {
  background-color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  left: 20px;
  padding: 0 10px;
  position: absolute;
  top: 8px;
  transition-property: font-size, left, top;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}
.widget label.placeholder {
  font-size: 10px;
  left: 10px;
  top: -11px;
}
